<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Création de personnage</title>
        <div th:replace="/fragment/head_fragment.html"></div>
    </head>
    <body>
        <div th:replace="/fragment/header_fragment.html"></div>
        <div class="container d-flex justify-content-center">
            <form method="get" action="/addRandomPerso">
                <h1 class="mb-2">Création d'un personnage aléatoire</h1>
                <div class="m-1 form-floating">
                    <input class="form-control" type="text" name="nom_perso" id="nom_perso" placeholder="ex: Potter" required>
                    <label for="nom_perso">Nom de famille</label>
                </div>
                <div class="form-floating m-1">
                    <input class="form-control" type="text" name="prenom_perso" id="prenom_perso" placeholder="ex: Harry" required>
                    <label for="prenom_perso">Prénom</label>
                </div>
                <div class="form-floating m-1">
                    <input class="form-control" type="number" name="age_perso" id="age_perso" placeholder="ex: 12" required>
                    <label for="age_perso">Age</label>
                </div>
                <div class="form-floating m-1">
                    <select class="form-select" name="is_pj" id="is_pj">
                        <option value="0" selected>Non</option>
                        <option value="1">Oui</option>
                    </select>
                    <label for="is_pj">Personnage joueur ?</label>
                </div>
                <div class="form-floating m-1">
                    <select class="form-select" id="etat_perso" name="etat_perso">
                        <option value="1" selected>En vie</option>
                        <option value="0">Mort</option>
                    </select>
                    <label for="etat_perso">Personnage en vie ? </label>
                </div>
                <div class="form-floating m-1">
                    <input class="form-control" type="text" name="img_perso" id="img_perso" placeholder="ex: http://www.monImage.fr/">
                    <label for="img_perso">Lien de l'avatar</label>
                </div>
                <div class="form-floating m-1">
                    <textarea class="form-control" name="desc_perso" id="desc_perso" placeholder="ex: Au début de la série, Harry Potter est décrit comme assez frêle et chétif, à cause de sa malnutrition chez les Dursley. Il est assez petit pour son âge, avec des genoux noueux..."  style="height: 100px"></textarea>
                    <label for="desc_perso">Description</label>
                </div>
                <input class="btn btn-outline-info" type="submit" value="Créer">
                <input class="btn btn-outline-danger" type="reset" value="Effacer">
            </form>
        </div>
    </body>
</html>