<div th:fragment="personnage" class="container">
    <div class="d-flex text-center flex-row justify-content-center">
        <h1 th:text="${personnage.getNom_perso() + ' ' + personnage.getPrenom_perso()}"></h1>
       <a class="material-icons md-18 align-self-center mx-3 text-warning" th:href="|/updatePersonnageById?idPerso=${personnage.getId_perso()}|">edit</a>
    </div>
    <div class="row m-3 p-1">
        <div class="col card mx-1 p-0">
            <div class="card-header fw-bold" width="100%">Avatar</div>
            <div class="card-body align-self-center">
                <img class="img-thumbnail" th:src="${personnage.getImg_perso() != null} ? ${personnage.getImg_perso()} : '/img/cross_low.png'" width="130" alt="avatar">
            </div>
        </div>
        <div class="col card mx-1 p-0">
            <div class="card-header fw-bold">Info</div>
            <div class="card-body d-flex flex-column justify-content-around">
                <label>En vie ?
                    <span th:text="${personnage.getEtat_perso()} ? 'Oui' : 'Non'"></span>
                </label>
                <label>Est un joueur ?
                    <span th:text="${personnage.getIs_pj()} ? 'Oui' : 'Non'"></span>
                </label>
                <label>Description:
                    <span th:text="${personnage.getDesc_perso()}"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="row m-3 p-1">
        <div class="col card mx-1 p-0">
            <div class="card-header fw-bold">Détails</div>
            <div class="card-body d-flex flex-column justify-content-around">
                <label>Age:
                    <span th:text="${personnage.getAge_perso()}"></span>
                </label>
                <label>Maison:
                    <span th:text="${personnage.getMaison_perso().getNom_maison()}"></span>
                </label>
                <label>Classe:
                    <span th:text="${personnage.getClasse_perso().getNbr_classe()}"></span>
                </label>
                <label>Niveau social:
                    <span th:text="${personnage.getNiveau_soc_perso().getNom_niveau_soc()}"></span>
                </label>
                <label>Sang:
                    <span th:text="${personnage.getSang_perso().getNom_sang()}"></span>
                </label>
                <label>Nationnalité:
                    <span th:text="${personnage.getNationnalite_perso().getNom_nationnalite()}"></span>
                </label>
            </div>
        </div>
        <div class="col mx-1 p-0">
            <div class="row">
                <div class="col card ms-2 me-1 p-0">
                    <div class="card-header fw-bold">Caractéristiques</div>
                    <div class="card-body">
                        WIP
                    </div>
                </div>
                <div class="col card mx-1 p-0">
                    <div class="card-header fw-bold">Baguette</div>
                    <div class="card-body d-flex flex-column justify-content-around">
                        <label>Bois:
                            <span th:text="${personnage.getBaguette_perso().getBois().getNom_bois()}"></span>
                        </label>
                        <label>Coeur:
                            <span th:text="${personnage.getBaguette_perso().getCoeur().getNom_coeur()}"></span>
                        </label>
                        <label>Rareté du coeur:
                            <span th:text="${personnage.getBaguette_perso().getCoeur().getRarete().getNom_rarete()}"></span>
                        </label>
                        <label>Taille:
                            <span th:text="${personnage.getBaguette_perso().getTaille_baguette().getNom_taille_baguette()}"></span>
                        </label>
                        <label>Epaisseur:
                            <span th:text="${personnage.getBaguette_perso().getEpaisseur().getNom_epaisseur()}"></span>
                        </label>
                        <label>Flexibilité:
                            <span th:text="${personnage.getBaguette_perso().getFlexibilite().getType_flexibilite()}"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row card m-3 p-1">
        <div class="card-header fw-bold">Détails physiques</div>
        <div class="card-body d-flex">
            <div class="col d-flex flex-column justify-content-around">
                <label>Taille:
                    <span th:text="|${personnage.getTaille_perso().getMesure_taille()}cm|"></span>
                </label>
                <label>Corpulence:
                    <span th:text="${personnage.getCorpulence_perso().getType_corpulence()}"></span>
                </label>
                <label>Bouche:
                    <span th:text="${personnage.getBouche_perso().getType_bouche()}"></span>
                </label>
                <label>Nez:
                    <span th:text="${personnage.getNez_perso().getType_nez()}"></span>
                </label>
                <label>Yeux:
                    <span th:text="${personnage.getYeux_perso().getForme_yeux()}"></span>
                </label>
                <label>Couleur des yeux:
                    <span th:text="${personnage.getCouleur_yeux_perso().getNom_couleur_yeux()}"></span>
                </label>
                <label>Attitude:
                    <span th:text="${personnage.getAttitude_perso().getType_attitude()}"></span>
                </label>
            </div>
            <div class="col d-flex flex-column justify-content-around">
                <label>Genre:
                    <span th:text="${personnage.getSexe_perso().getType_sexe()}"></span>
                </label>
                <label>Visage:
                    <span th:text="${personnage.getVisage_perso().getForme_visage()}"></span>
                </label>
                <label>Cheveux:
                    <span th:text="${personnage.getCheveux_perso().getCoupe_cheveux()}"></span>
                </label>
                <label>Couleur des Cheveux:
                    <span th:text="${personnage.getCouleur_cheveux_perso().getNom_couleur_cheveux()}"></span>
                </label>
                <label>Voix:
                    <span th:text="${personnage.getVoix_perso().getType_voix()}"></span>
                </label>
                <label>Façon de parler:
                    <span th:text="${personnage.getParler_perso().getFacon_parler()}"></span>
                </label>
                <label>Façon de regarder:
                    <span th:text="${personnage.getRegard_perso().getType_regard()}"></span>
                </label>
            </div>
        </div>
    </div>
</div>