<div th:fragment="personnage" class="container">
    <div class="row m-3 p-1">
        <div class="col card mx-1 p-0">
            <div class="card-header fw-bold"><a th:href="|/getPersonnageById?idPerso=${personnage.getId_perso()}|" th:text="${personnage.getNom_perso() + ' ' + personnage.getPrenom_perso()}"></a></div>
            <div class="card-body d-flex row">
                <div class="col align-self-center">
                    <img class="img-thumbnail" th:src="${personnage.getImg_perso() != null} ? ${personnage.getImg_perso()} : '/img/cross_low.png'" width="130" alt="avatar">
                </div>
                <div class="d-flex col flex-column justify-content-around">
                    <label>Age:
                        <span th:text="${personnage.getAge_perso()}"></span>
                    </label>
                    <label>Maison:
                        <span th:text="${personnage.getMaison_perso().getNom_maison()}"></span>
                    </label>
                    <label>Classe:
                        <span th:text="${personnage.getClasse_perso().getNbr_classe()}"></span>
                    </label>
                    <label>Niveau social:
                        <span th:text="${personnage.getNiveau_soc_perso().getNom_niveau_soc()}"></span>
                    </label>
                    <label>En vie ?
                        <span th:text="${personnage.getEtat_perso()} ? 'Oui' : 'Non'"></span>
                    </label>
                    <label>Est un joueur ?
                        <span th:text="${personnage.getIs_pj()} ? 'Oui' : 'Non'"></span>
                    </label>
                </div>
                <div class="d-flex col flex-column justify-content-around">
                    <label>Sang:
                        <span th:text="${personnage.getSang_perso().getNom_sang()}"></span>
                    </label>
                    <label>Nationnalité:
                        <span th:text="${personnage.getNationnalite_perso().getNom_nationnalite()}"></span>
                    </label>
                    <label>Genre:
                        <span th:text="${personnage.getSexe_perso().getType_sexe()}"></span>
                    </label>
                    <label>Description:
                        <span th:text="${personnage.getDesc_perso()}"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>