<nav class="navbar navbar-dark navbar-expand-lg" th:style="'background: '+ ${T(fr.weelders.hp_project.Color).PRIMARY}">
  <div class="container">
    <a class="navbar-brand" href="#">HP Project</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Home (disable)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/getPersonnageById?idPerso=1">Get One Character</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/getAllPersonnage">Get All Characters</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/createPersonnage">Add Random Character</a>
        </li>
      </ul>
    </div>
  </div>
</nav>